/* 전체 적용 */

body {
    margin: 0px;
    padding: 0px;
    font-family: noto sans;
    list-style: none;
    background-color: #f7f9fc;
}

.btn {
    background-color: #6fbaf8;
    border-radius: 10px;
    color: #ffffff;
    padding: 6px 17px;
    margin: 10px 0;
}

* {
    box-sizing: border-box;
}

span {
    color: #6fbaf8;
}

/* 첫번째 페이지 */

.profile_img {
    width: 120px;
    height: 120px;
    border-radius: 160px;
}

li {
    padding: 10px;
}

#container01 {
    border-left: 1px solid rgb(221, 221, 221);
}

@media screen and (max-width:768px) {
    #container01 {
        border: none;
    }
}

/* 가로바 */

.profile_box {
    display: flex;
    margin: 30px;
    padding: 0 40px;
    color: #6fbaf8
}

.profile_text {
    display: flex;
    border-bottom: 5px solid #6fbaf8;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    
}

.space {
    width: 90%;
    border-bottom: 5px solid rgb(207, 207, 207);
}

/* 첫번째 박스 */

.main {
    display: flex;
    padding: 40px;
    flex-wrap: wrap;
}



.main > div {
    margin: 10px;
}

.main_box_1 {
    flex-grow: 1;
    background-color: #ffffff;
    flex-basis: 20%;
    border-radius: 5px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    height: 100%;
    padding: 50px;
}

@media screen and (max-width:768px) {
    .main {
        display: block;
    }
}

/* 두번째 박스 */

.main_box_2 {
    flex-grow: 7;
    flex-basis: 50%;
    background-color: #ffffff;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    height: 800px;
    padding: 50px;
}

.main_box_2 button {
    background-color: white;
    border-radius: 20px;
    border: 2px solid #dfdfdf;
    padding: 4px 18px;
    margin: 10px 5px;
}

.about {
    margin: 0px;
    height: 50%;
    padding-bottom: 40px;
}

.skills {
    padding-top: 50px;
    height: 50%;

    border-top: 5px solid #cfcfcf;
}

/* 세번째 박스 */

.main_box_3 {
    flex-grow: 1;
    flex-basis: 20%;
    height: 200px;
}

.sign_up {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    background-color: #ffffff;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.sign_up i {
    font-size: 130px;
    color: #6fbaf8;
    padding: 20px;
}

.sign_up h4 {
    font-size: 20px;
    font-weight: 300;
}

.sign_up a {
    font-size: 15px;
    text-decoration: none;
    color: #6fbaf8;
}

/* 네번째 박스 */

.might_know {
    padding: 17px;
    padding-top: 40px;
}

.might_know h2 {
    font-size: 18px;
    margin: 0px;
}

.might_know p {
    font-size: 14px;
    margin: 0px;

}

.might_know h4 {
    font-size: 17px;
    border-bottom: 2px solid #cfcfcf;
    padding-bottom: 15px;
}

.might_know span {
    font-size: 14px;
}

.might_know img {
    width: 80px;
}

.people1,
.people2 {
    display: flex;
    padding-left: 15px;
    padding-top: 15px;
}
